<!DOCTYPE html>
<html>
<head>
    <title>Converter WORD to PDF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        h1{
            margin-top: 17%;
        }
    </style>
</head>
<body>
    <h1 class="text-center" >Конвертор WORD в PDF <br><br> Туда и обратно 🔁 </h1> <br><br><br>
    <h4 class="text-center" >Для того, что бы начать работать с файлами, <a href="{% url 'register' %}" class="btn btn-warning btn-sm">
    <h4>Зарегистрируйтесь,</h4></a>
    или <a href="{% url 'login' %}" class="btn btn-primary btn-sm"><h4>Войдите</h4></a></h4> <br>
</body>
</html>