<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр и редактирование файла</title>
    <style>
        .container{padding: 10px;}
        h2{padding-left: 45%;}
    </style>
</head>
<body>
 <h2>Файл был успешно загружен</h2>
  <div class="container">
    <object data="{% static "uploads_file/Esenin.pdf" %}" type="application/pdf" width="100%" height="900px"></object>
  </div>
</body>
</html>